@using GearGauge.Models;
@model List<GearInventory>

<h1>Gear Inventory</h1>

<p>
    <a asp-controller="GearInventory" asp-action="Add">Add New Gear</a>
</p>

<table class="table">
    <thead>
        <tr>
            
            <th>Title</th>
            <th>Description</th>
            <th>Market Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.MarketValue</td>
                <td>
                    <a asp-controller="GearInventory" asp-action="Detail" asp-route-id="@item.Id">View</a> |
                    <a asp-controller="GearInventory" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>