@model IEnumerable<GearGauge.Models.GearInventory>

<h1>Gear Inventory</h1>

<p>
    <a asp-controller="GearInventory" asp-action="Add" class="btn btn-primary">Add Gear Inventory</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Market Value</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.MarketValue</td>
            <td>
                @foreach (var tag in item.Tags)
                {
                    <span class="badge badge-secondary">@tag.Tag.Name</span>
                }
            </td>
            <td>
                <a asp-controller="GearInventory" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="GearInventory" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
