@model List<GearGauge.ViewModels.CanonicalSearchViewModel>

<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
</head>

<body>
    <h1>Search Results</h1>

    @if (Model.Any())
    {
        
        <form asp-controller="ProductSearch" asp-action="PostSearch" method="post">
            <div class="card-container">
                @foreach (var item in Model)
                {
                    <div class="search-card">
                        @*<a asp-action="PostTotalSearch" asp-controller="ProductSearch" method="post"
                asp-route-id="@item.CanonicalProductIds[0]"> *@
                        @if (item.Image?.Source != null)
                        {
                            <img src="@item.Image.Source" alt="@item.Title image" />
                        }
                        @if (item.Title != null)
                        {
                            <p>@item.Title</p>
                        }
                        @if (item.PriceMiddle != null)
                        {
                            <p>Fair Market Value: @item.PriceMiddle</p>
                        }
                        @if (item.PriceMiddleThirtyDaysAgo != null)
                        {
                            <p>Fair Market Value (30 days ago): @item.PriceMiddleThirtyDaysAgo</p>
                        }
                        
                        @*Add buttons to allow user to add item to inventory or watchlist. And link appropriately with asp. STRETCH GOAL!*@
                        @if (item.Videos.Link != null)
                        {
                            <div>
                                <a href="@item.Videos.Link" target="_blank"><img src="@item.Videos.Thumbnail"></a>
                            </div>
                            <div>
                            <a asp-controller="GearInventory" asp-action="Add">Add New Gear</a>
                            </div>
                        }
                            <button>Don't have one? Find one to purchase!
                                <a href="https://reverb.com/marketplace?query=@item.Title"><img src="GearGauge/images/LogoPhoto.jpg" /></a>
                            </button>

                        @if (item.Title != null)
                        {
                            <div>
                                <a asp-controller= "GearInventory" asp-action="Index" >Add to favorites</a>
                            </div>
                        }
@* {
                        <div class="search-card">
        
                        <button class="btn btn-outline-primary favorite-btn" data-gear-id="@item.CanonicalProductIds[0]">
                             <i class="fas fa-heart"></i> Favorite
                        </button>
                         </div>
} *@
                        <input type="hidden" asp-for="@item.CanonicalProductIds[0]" />
                    </div>

                }
            </div>
        </form>
    }
    else
    {
        <p>No results found.</p>
    }
</body>

</html>
