@model List<GearGauge.ViewModels.CanonicalSearchViewModel>

@{
    Layout = "_Layout";
}

<h1>Search Results</h1>

@if (Model.Any())
{
    <form asp-controller="ProductSearch" asp-action="PostSearch" method="post">
        <div class="card-container">
            @foreach (var item in Model)
            {
                <div class="search-card">
                    @if (item.Image?.Source != null)
                    {
                        <img src="@item.Image.Source" alt="@item.Title image" />
                    }
                    @if (item.Title != null)
                    {
                        <p>@item.Title</p>
                    }
                    @if (item.PriceMiddle != null)
                    {
                        <p>Fair Market Value: $@item.PriceMiddle</p>
                    }
                    @if (item.PriceMiddleThirtyDaysAgo != null)
                    {
                        <p>Fair Market Value (30 days ago): $@item.PriceMiddleThirtyDaysAgo</p>
                    }
                    @if (item.Videos.Link != null)
                    {
                        <h2>Demo of Product:</h2>
                        <iframe width='560' height='315' href="@item.Videos.Link" src="@item.Videos.Link" frameborder='0'
                            allow='autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
                    }
                    @if (item.Title != null)
                    {
                        <p>Want to buy one?
                            <a href="https://reverb.com/marketplace?query=@item.Title" target="_blank"
                                class="btn btn-primary">Click here!</a>
                            <a href="https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2510209.m570.l1313&_nkw=@item.Title&_sacat=619"
                                target="_blank" class="btn btn-primary">Or here!</a>
                            <a href="https://www.amazon.com/s?k=@item.Title" target="_blank" class="btn btn-primary">Or here!</a>
                        </p>
                    }
                    @if (item.Title != null)
                    {
                        <p>Already Have One?
                            <a href="GearInventory/Add" target="_blank" class="btn btn-primary">Already have one?</a>
                        </p>
                        <p>
                            <button class="btn btn-primary add-to-watchlist" data-gear-id="@item.CanonicalProductIds[0]">Add to Watchlist</button>
                        </p>
                    }
                </div>
            }
        </div>
    </form>
}
else
{
    <p>No results found.</p>
}

@section Scripts {
    <script src="~/js/watchlist.js"></script>
}
